<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Politify</title>

    <meta name="description" content="Angular Material">

    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.css">
    <link rel="stylesheet" href="assets/app.css"/>

  </head>
  <body ng-app="MyApp" ng-cloak layout="column" ng-controller="UserController as vm">

    <!-- Container 1 -->
    <md-toolbar layout="row">
      <md-button class="menu" ng-click="vm.toggleList()" hide-gt-sm>
        <md-icon md-svg-icon="assets/svg/menu.svg"></md-icon>
      </md-button>
      <h1 class="md-toolbar-tools" layout-align-gt-sm="center">Angular Material Starter</h1>
    </md-toolbar>

    <!-- Container 2 -->
    <div class="container" layout="row" flex>
        <!-- Container 3 -->
        <md-sidenav
          layout="column"
          md-component-id="left"
          md-is-locked-open="$mdMedia('gt-sm')"
          class="md-whiteframe-z2">Sidenav
          <!-- List item 1 -->
          <md-list>
            <md-list-item ng-repeat="it in vm.users">
              <md-button ng-click="vm.selectUser(it)" ng-class="{'selected' : it === vm.selected }">
                <md-icon md-svg-icon="{{it.avatar}}" class="avatar"></md-icon>
                    {{it.name}}
                </md-button>
            </md-list-item>
          </md-list>
        </md-sidenav>
          <!-- List item 2 -->
          <!-- <md-list-item>
            <md-button>
              <md-icon md-svg-src="https://rawgit.com/angular/material-start/es5-tutorial/app/assets/svg/avatar-4.svg" class="avatar"></md-icon>
                Lawrence Ray
              </md-button>
            </md-list-item>
          </md-list>
        </md-sidenav> -->
        <!-- Container 4 -->
        <md-content flex id="content">Content
          <!-- List details -->
          <md-icon md-svg-icon="{{vm.selected.avatar}}" class="avatar"></md-icon>
            <h2>{{vm.selected.name}}</h2>
            <p>{{vm.selected.content}}</p>

          <md-button class="share" md-no-ink ng-click="vm.makeContact(vm.selected)">
            <md-icon md-svg-icon="assets/svg/share.svg"></md-icon>
          </md-button>
        </md-content>
    </div>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular-aria.min.js"></script>
    <script src="https://rawgit.com/angular/bower-material/master/angular-material.min.js"></script> -->

    <script src="/bower_components/angular/angular.js"></script>
    <script src="/bower_components/angular-animate/angular-animate.js"></script>
    <script src="/bower_components/angular-aria/angular-aria.js"></script>
    <script src="/bower_components/angular-material/angular-material.js"></script>

    <script src="./src/users/Users.js"></script>
    <script src="./src/users/UserController.js"></script>
    <script src="./src/users/UserService.js"></script>
    <script src="./src/app.js"></script>

    <!-- <script type="text/javascript">

    </script> -->

  </body>
</html>
